/* Color */
body { background-color: black; }
main { background-color: white; }
#copyright { color: #ccc; }
#copyright a:link, #copyright a:visited { color: white; }

/* Fonts */
body { font-family: "Helvetica Neue", Helvetica, sans-serif; }
.error { font-family: "Lucida Console", Monaco, monospace; }
h1, h2 { font-family: Georgia, Times, serif; }

h1, h2, .link, #links { font-weight: bold; }

h1 { font-size: 3em; }
.bigtext { font-size: 2em; }
h2, .biglink, #links { font-size: 1.5em; }
body { font-size: 1em; }
.smalltext, .error { font-size: 0.75em; }

/* Centering */
.center-text { text-align: center; }
.center-block { margin-left: auto; margin-right: auto; }
.center-image { margin: 0px auto; display: block; }

/* Layout */
main { width: 75%; padding: 1em; margin-bottom: 1em; }

#title { margin-top: 0em; }
#subtitle { margin-top: -1.5em; }
#description, #links { margin-bottom: 1em; }
li { margin-bottom: 0.5em; }

/* Debug box */
#debug { border: 1px dotted gray; color: darkgray; margin: 1em; }
