<!doctype html>
<html>

<head>
<title>LD29: Beneath the Surface</title>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<head>

<body>
<div id="main">

<div id="room_name"><h1>{% block room_name %}Beneath the Surface, Level -{{session.level}}{% endblock %}</h1></div>

<div id="room_text">{% block room_text %}{% endblock %}</div>

{% if not hide_exits %}
<p><a href="{{ url_for('play') }}">Dig deeper.</a>
<br/><a href="{{ url_for('quit') }}">Give up and return to the surface.</a></p>
{% endif %}
</div>

</body>
</html>
