{% extends "base.html" %}

{% block room_text %}
<p>You thought you saw a({{adjective}}) {{animal}} sitting in the corner, but when you turn to look, the room is empty except for a single piece of paper.</p>

<p>Half of the page is filled with a stick-{{animal}} crudely drawn in {{color}} crayon. Beneath this childish graffiti is a full page of handwritten text, which on closer inspection turns out to be the word "{{adjective}}" repeated over and over in a delicately looping cursive script.</p>
{% endblock %}
